* {
    margin: 0px;
    padding: 0px;
    
}
.nom {
    display: flex;
    flex-direction: row;
}
.h {
    background-color: rgb(12, 184, 12);
    height: 300px;
    width: 600px;
    
}
.profile {
    background-color: orange;
    height: 300px;
    width: 300px;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: row;
}
.experience {
    background-color: rgb(18, 90, 245);
    height: 300px;
    width: 300px;
    text-align: center;
}
.education {
    background-color: red;
    height: 300px;
    width: 300px;
    text-align: center;
}
.blog {
    background-color: rgb(12, 184, 12);
    height: 300px;
    width: 300px;
    text-align: center;
}
.section{
    display: flex;
    flex-direction: row;
}
.social {
    background-color: orange;
    height: 300px;
    width: 300px;
    text-align: center;
}    
.contact {
    background-color: rgb(18, 90, 245);
    height: 300px;
    width: 300px;
    text-align: center;
}
.portfolio {
    background-color: orange;
    height: 300px;
    width: 300px;
    text-align: center;
}
h2 {
    color: white;
    line-height: 300px;
}
nav {
    float: right;
    
}
.img1 {
    float: right;
    height: 900px;
    width: 1020px;
}
#name {
    font-size: 24px;
}
form {
    text-align: center;
    justify-content: left;
}
#surname {
    font-size: 24px;
}
#mail {
    font-size: 24px;
}
#phone {
    font-size: 24px;
}
#subject {
    font-size: 24px;
}
#msg {
    font-size: 24px;
}
.button {
    color: blue;
}
.button :hover {
    color: red;
}
h3 {
    color: white;
}
h1 {
    color: white;
}
.profile {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}